@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Roboto:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none; 
}


 h1,h2,h3 { 
    font-family: Oswald,sans-serif;
    letter-spacing: 3px;
    color: whitesmoke;
}

h2 {
    font-size: 200%;
}

p {
    font-family: Roboto;
    font-size: 18px;
    color: whitesmoke;
}

#bgr-color {
    min-height: 100px;
    width: 100%;
    background-color: #2e2e2e;
}


/* logo */

#logo {
    float: left;
    font-size: 300%;
    margin-left: 25px;
    font-style: oblique;
    text-transform: uppercase; 
    color: whitesmoke;
    
    
}


/* navigation links */

header a {
    text-decoration: none;
}

#navmenu a {
    font-size: 150%;
    letter-spacing: 3px;
    color: whitesmoke;
    
    
}

#navmenu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    
    
}


#navmenu, .logo {
   line-height: 80px;
}

#navmenu a:hover {
    border-bottom: 2px solid;
}

.stay {
    border-bottom: orangered 2px solid;
}

/* Main image */

#image-section {
    position: relative;
    overflow: hidden;
    min-height: 650px;
    width: 100%;
}



#main-image {
    background: url(../images/girl-cable-push-up.webp);
    min-height: 650px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* zooming the image in */ 
    animation-name: image-zoom;
    animation-fill-mode: forwards;
    animation-duration: 7s;
    }
     
    /* zoom for the image*/ 

    @keyframes image-zoom {
         from {
             transform: scale(1);
         }
         to {
             transform: scale(1.15);
         }
    }

    /* motivational cit. inside the main image */

    .container h2{
        position: relative;
        text-align: center;
        color: whitesmoke;
    }

    .motive {
        position: absolute;
        top: 30%;
        left: 30%;
        font-size: 250%;
        text-transform: capitalize;
    }

    /* welcome */

    #welcome {
        min-height: 400px;
        margin: 100px 90px 0 90px;
        
    }

    .wlcm-gs {
        border-radius: 20px;
        float: left;
        padding: 30px;
        width: 35%;
        height: 300px;
        position: relative;
        border: orangered 2px solid;
        
         }

         .offering {
            border-radius: 20px;
            float: left;
            padding: 30px;
            width: 35%;
            height: 300px;
            position: relative;
            margin-left: 250px;
            border: orangered 2px solid;
         }

         .go-join {
             background-color: orangered;
             border-radius: 50px;
             font-size: 40px;
             text-decoration: none;
             color: whitesmoke;
             padding: 7px 40px;
             margin: 0 auto;
             }


         .wlcm-gs h2,h3,p {
             color: #2e2e2e;
         }
        
         .offering h2 {
             color: #2e2e2e;
         }

         .offering li {
            list-style-type: none;
            color: #2e2e2e;
            font-size: 20px;
        }

        .wlcm-gs, .offering {
            line-height: 35px;
        }
        
        /* gallery */

        #gallery {
            height: 350px;
            
        }

        .cntr-imgs {
            width: 150px;
            height: 150px;
            padding: 20px;
            border-style: solid;
            border-color: orangered;
            border-width: 1px;
            border-radius: 50%;
            margin: 80px;
            position: relative;
            display: inline-block;
    
        }

        .photo-1 {
            background: url(../images/girl-dumbbell-press.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            border-radius: 50%;
            
        }

        .photo-2 {
            background: url(../images/girl-ropes.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            border-radius: 50%;
        }

        .photo-3 {
            background: url(../images/guy-biceps.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            border-radius: 50%;
        }

        .photo-4 {
            background: url(../images/core-workout.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            border-radius: 50%;
        }
        
        /* map */

        #map-cntr h2 {
            color: #2e2e2e;
            margin: 30px;
        }

         #map-cntr {
             margin: 0 auto;
             height: 250px;
             margin-bottom: 75px;
         }
         
         map {
             height: 100%;
             width: 100%;
         }

         /* footer */


    .footer-bgrd {
        background-color: #2e2e2e;
        height: 150px;
        position: relative;
        text-align: center;
        
}



    .social-links > li {
        display: inline;
    }

    .social-links i {
        font-size: 150%;
        color: whitesmoke;
        margin: 0 auto;
        padding: 50px;
        
    }
 
    
        

    





    

