@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Roboto:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none; 
}


 h1,h2,h3 { 
    font-family: Oswald,sans-serif;
    letter-spacing: 3px;
    color: whitesmoke;
}

h2 {
    font-size: 200%;
}

p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
}

#bgr-color {
    min-height: 100px;
    width: 100%;
    background-color: #2e2e2e;
}


/* logo */

#logo {
    float: left;
    font-size: 300%;
    margin-left: 25px;
    font-style: oblique;
    text-transform: uppercase; 
    color: whitesmoke;
    
    
}


/* navigation links */

header a {
    text-decoration: none;
}

#navmenu a {
    font-size: 150%;
    letter-spacing: 3px;
    color: whitesmoke;
    
    
}

#navmenu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    
    
}


#navmenu, .logo {
   line-height: 80px;
}

#navmenu a:hover {
    border-bottom: 2px solid;
}

.stay {
    border-bottom: orangered 2px solid;
}

/* Main image */

#image-section {
    position: relative;
    overflow: hidden;
    min-height: 650px;
    width: 100%;
}



#main-image {
    background: url(../images/girl-cable-push-up.webp);
    min-height: 650px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* zooming the image in */ 
    animation-name: image-zoom;
    animation-fill-mode: forwards;
    animation-duration: 7s;
    }
     
    /* zoom for the image*/ 

    @keyframes image-zoom {
         from {
             transform: scale(1);
         }
         to {
             transform: scale(1.15);
         }
    }

    /* motivational cit. inside the main image */

    .container h2{
        position: relative;
        text-align: center;
        color: whitesmoke;
    }

    .motive {
        position: absolute;
        top: 30%;
        left: 30%;
        font-size: 250%;
        text-transform: capitalize;
    }

    /* welcome */

    #welcome {
        height: 400px;
        
        
    }

    .wel {
        border-radius: 20px;
        min-height: 200px;
        position: relative;
        border: orangered 2px solid;
        margin: 100px;
        padding: 30px;
        width: 30%;
        display: inline-block;
        line-height: 30px;
        
        }

        
        
        .go-contact {
             background-color: orangered;
             border-radius: 50px;
             font-size: 30px;
             text-decoration: none;
             color: whitesmoke;
             padding: 7px 30px;
             margin-left: 33%;

             }

    

         .wlcm-gs h2,h3,p {
             color: #2e2e2e;
         }
        
         .offering h2 {
             color: #2e2e2e;
         }

         .offering li {
            list-style-type: none;
            color: #2e2e2e;
            font-size: 20px;
        }

    
        
        /* gallery */

        #gallery {
            height: 350px;
            
        }

        .cntr-imgs {
            width: 150px;
            height: 150px;
            padding: 20px;
            border-style: solid;
            border-color: orangered;
            border-width: 1px;
            border-radius: 50%;
            margin: 80px;
            position: relative;
            display: inline-block;
    
        }

        .photo-1 {
            background: url(../images/girl-dumbbell-press.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            border-radius: 50%;
            
        }

        .photo-2 {
            background: url(../images/girl-ropes.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            border-radius: 50%;
        }

        .photo-3 {
            background: url(../images/guy-biceps.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            border-radius: 50%;
        }

        .photo-4 {
            background: url(../images/core-workout.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            border-radius: 50%;
        }
        
        /* map */

        #map-cntr h2 {
            color: #2e2e2e;
            margin: 30px;
        }

         #map-cntr {
             margin: 0 auto;
             height: 250px;
             margin-bottom: 75px;
         }
         
         map {
             height: 100%;
             width: 100%;
         }

         /* footer */


    .footer-bgrd {
        background-color: #2e2e2e;
        height: 150px;
        position: relative;
        text-align: center;
        
}

.footer-bgrd p {
    color: whitesmoke;
}

    .social-links > li {
        display: inline;
    }

    .social-links i {
        font-size: 150%;
        color: whitesmoke;
        margin: 0 auto;
        padding: 50px;
        }

        /* Programmes */

    #prgm-text, h2 {
        color: #2e2e2e;
    }
    
    #prgm-set {
        height: 200px;
        margin: 50px;
    }

    #prgm-text {
        text-align: center;
        margin: 0 auto;
        padding: 20px 300px;
        line-height: 35px;
    }

    #pic-prgm {
        height: 500px;
        
        
    }

    .prgmx {
        height: 250px;
        width: 250px;
        display: inline-block;
        left: 50%;
        margin-left: 80px;
        text-align: center;
        border: orangered 1px solid;
    }

        .prgmx h2 {
            color: whitesmoke;
        }


    .zoom {
        
        transition: all .2s ease-in-out; 

    }

        
     .zoom:hover {
        transform: scale(1.5);
     }
        
        
    

    #prg-1 {
        background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(../images/weight-loss..webp);
        background-position: center;
        background-repeat: no repeat;
        background-size: cover;
    }

    #prg-2 {
        background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(../images/muscle-tone.webp);
        background-position: center;
        background-repeat: no repeat;
        background-size: cover;
    }

    #prg-3 {
        background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(../images/get-fit.webp);
        background-position: center;
        background-repeat: no repeat;
        background-size: cover;
    }

    #prg-4 {
        background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(../images/senior-fit.jpeg);
        background-position: center;
        background-repeat: no repeat;
        background-size: cover;
    }
    
        

    





    

